.home{
    min-height: calc(100vh - 150px);
    background-image: url('../../assets/images/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.d_f{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    height: calc(100vh - 150px);
}